<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825184343644-28nv80mst10kgcfns5epmdlc0ub49sfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825184343644-28nv80mst10kgcfns5epmdlc0ub49sfk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>825184343644-33cb45293d19oodaff2h2ggo5mc505c8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvcrG22GhHskDAg12f4pIpdA1MMyhOK3I</string>
	<key>GCM_SENDER_ID</key>
	<string>825184343644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.wmApp</string>
	<key>PROJECT_ID</key>
	<string>work-magement-app</string>
	<key>STORAGE_BUCKET</key>
	<string>work-magement-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825184343644:ios:0433df155def8ce92af899</string>
</dict>
</plist>